#intro {
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;  
  padding-left: 5rem;
}

.text {
  font-size: 3.5rem;
  font-size: 4vw;
  font-weight: 700;
  text-align: left;
}

.text-color {
  color: #9069C4;
}

.btn {
  border: 2px solid #9069C4;
  color: #9069C4;
}

.btn:hover {
  border: 2px solid #9069C4;
  background-color: #9069C4; 
  color: white;
}

a {
  font-size: 2.4rem;
}